numpy==1.18.5
scipy==1.4.1
seaborn==0.10.1
matplotlib==3.3.0
Bio==1.77
certifi==2020.6.20
cycler==0.10.0
kiwisolver==1.2.0
mkl-service==2.3.0
pandas==1.1.0
patsy==0.5.1
pyFirmata==1.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyserial==3.4
python-dateutil==2.8.1
pytz==2020.1
tornado==6.0.4
wincertstore==0.2
